body {
    animation:change-color 4s infinite alternate ;
}

@keyframes change-color {
    0% {background-color: antiquewhite;}
    50% {background-color: yellow;}
    100% {background-color: aquamarine;}
}

.title {
    font-family: 'Courier New', Courier, monospace;
    margin: 50px;
    text-align: center;
    margin: 80px auto;
    animation: skew 3s infinite alternate;
}

@keyframes skew{
    0% {transform: skew(0deg, 0deg);}
    100% {transform: skew(30deg, 30deg);}
}

.square {
    background-color: orangered;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 75px auto;
    transition: all 1s;
}

.square:hover {
    background-color:greenyellow ;
    transform: rotate(30deg);
}

.button-div {
    text-align: center;
    margin: 75px auto;
}

.button {
    background-color: red;
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s;
}

.button:hover {
    background-color: blueviolet;
    transform: scale(1.5);
    color: black;
}

.circle {
    background-color: blue;
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 100px;
    animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
    0% {transform: translate(0px, 500px);}
    100% {transform: translate(500px, 100px);}
}

.other-circle {
    background-color: red;
    width: 75px;
    height: 75px;
    margin: 100px;
    border-radius: 100px;
    animation: rebound 0.5s infinite alternate;
}

@keyframes rebound {
    0% {transform: translate(300px );}
    100% {transform: translate(700px, 100px);}
}

.loading {
    animation: stretch 5s infinite alternate;
    background-color: green;
    width: 80vw;
}

@keyframes stretch {
    0% {width: 100px;}
    100% {width: 80vw;}
}

.caveman {
    animation: spin 10s infinite alternate;
    background-color: darksalmon;
    color: darksalmon;
    height: 30px;
    border-radius: 20px;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(270deg);}
}